body {
    background-color: #008B8B; 
    color: #2E1B10;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #006B6B; 
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #009999;
    padding: 10px;
}

nav .button {
    background-color: #D2B48C; 
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

nav .button:hover {
    background-color: #C4A484;
}

main {
    background-color: #F5F5DC; 
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #006B6B;
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 50%; /* Sesuaikan ukuran */
    margin: 20px auto;
    background: #FAF0E6;
    border: 1px solid #004C4C;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #004C4C;
    text-align: left;
}

th {
    background-color: #D2B48C;
    color: #333;
}

ul {
    list-style-type: square;
    text-align: left;
    margin: 20px auto;
    width: fit-content;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #004C4C;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background: #FAF0E6; 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #004C4C;
    border-radius: 5px;
}

textarea {
    height: 80px;
}

button {
    background-color: #008B8B;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #006B6B;
}

.back-link {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #004C4C;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #006B6B;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
